{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
{% endblock %}

{% block title %}Order {{ order.id }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Home</a> &rsaquo;
        <a href="{% url "admin:orders_order_changelist" %}">Orders</a> &rsaquo;
        <a href="{% url "admin:orders_order_change" order.id %}">Order {{ order.id }}</a> &rsaquo;
        Detail
    </div>
{% endblock %}

{% block content %}
    <h1>Order {{ order.id }}</h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">Print order</a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Ordered Date</th>
            <td>{{ order.ordered_date }}</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>{{ order.full_name}}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ order.phone_number }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ order.address }}, {{order.city}}</td>
        </tr>
        <tr>
            <th>Nearest place</th>
            <td>{{order.nearest_place}}</td>
        </tr>
        <tr>
            <th>Total amount</th>
            <td>Rs.{{ order.get_total_cost }}</td>
        </tr>
        <tr>
            <th>Phone verified</th>
            <td>{% if order.phone_verified%}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if order.delivered %}Delivered{% else %}Not delivered{% endif %}</td>
        </tr>
    </table>

    <div class="module">
        <div class="tabular inline-related last-related">
            <table>
                <h2>Items bought</h2>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in order.ordered_items.all %}
                    <tr class="row{% cycle "1" "2" %}">
                        <td><a href={{item.product.get_absolute_url}}>{{item.product.name }}</a></td>
                        <td>{% if item.color %}{{item.color}}{% else %}-{% endif %}</td>
                        <td>{% if item.size %}{{item.size}}{% else %}-{% endif %}</td>
                        <td class="num" style="text-align: left;">Rs.{{ item.price }}</td>
                        <td class="num" style="text-align: left;">{{item.quantity}}</td>
                        <td class="num" style="text-align: left">Rs.{{item.get_cost}}</td>
                    </tr>
                {% endfor %}
                    <tr class="total">
                        <td colspan="5">Total</td>
                        <td class="num">Rs.{{order.get_total_cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}